* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

.header {
    color: #005196;
    font-size: 1.0em;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95px;

}

.header img {
    height: 95px;
}

hr {
    border: 0.1px solid #4d4d4d04;
    box-shadow: 0px 3px 3px 0px rgb(100, 100, 100, 08);
}

.accesibilidad{
    position: fixed;
    top: 100px;
    right: -180px; 
    background-color: #005196;
    color: aliceblue;
    padding: 20px;
    width: 200px;
    box-shadow: -4px 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    transition: right 0.3s ease;
}
.accesibilidad.mostrar{
    right: 0;
}

.accesibilidad h2{
    font-size: 25px;
    margin-bottom: 10px;
}.accesibilidad button{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
}
.icono-accesibilidad{
    position: fixed;
    top: 60%;
    right: 10px;
    border: 2px solid #005196;
    border-radius: 50%;
}

.icono-accesibilidad:hover{
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}

.desplegable{
    text-align: center;
    margin: 50px;
}

.img-vacunacion{
    text-align: center;
   height: 60%;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 15px;
}




